:root {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  color: #293264;
  background-color: #F5F7FB;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div.start-screen-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.start-screen-container > h1 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 0.2em 0;
}

div.start-screen-container > p {
  margin: 0 0 1.8em 0;
  font-weight: 400;
}

div.start-screen-container > button {
  background-color: #4D5B9E;
  padding: 1em 4em;
  border-radius: 15px;
  border: 1px solid #4D5B9E;
  color: #F5F7FB;
  font-weight: 500;
  cursor: pointer;
}

.choice-btn {
  background-color: #F5F7FB;
  border: 0.79px solid #4D5B9E;
  border-radius: 7.94px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.choice-btn.selected {
  background-color: #D6DBF5;
  color: #293264;
}

.choice-btn.correct {
  background-color: #94D7A2;
  border-color: #94D7A2;
}

.choice-btn.incorrect {
  background-color: #F8BCBC;
  border-color: #F8BCBC;
}

.choice-btn.faded {
  opacity: 0.5;
}
