:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #293264;
  background-color: #F5F7FB;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.choice-btn {
  background-color: #F5F7FB;
  border: 0.79px solid #4D5B9E;
  border-radius: 7.94px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.choice-btn.selected {
  background-color: #D6DBF5;
  color: #293264;
}

.choice-btn.correct {
  background-color: #94D7A2;
  border-color: #94D7A2;
}

.choice-btn.incorrect {
  background-color: #F8BCBC;
  border-color: #F8BCBC;
}

.choice-btn.faded {
  opacity: 0.5;
}
