:root {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  color: #DEEBF8;
  background-color: #2d384e;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image:
    url('assets/blob-yellow.svg'),
    url('assets/blob-blue.svg');
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}


div.quiz-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.quiz-container > h1 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 0.2em 0;
}

div.quiz-container > p {
  margin: 0 0 2em 0;
  font-weight: 400;
  font-size: 1.1rem;
}

div.quiz-container > button {
  padding: 0.8em 3em;
  font-size: 1.2rem;
}

.btn {
  background-color: #4D5B9E;
  border: 1px solid #4D5B9E;
  border-radius: 15px;
  color: #DEEBF8;
  cursor: pointer;
  font-weight: 500;
}

div.quiz-container > button:hover {
  background-color: #3d487d;
  border: 1px solid #3d487d;
}

div.choices-container {
  display: flex;
  gap: 1em;
}

.choice-btn {
  background-color: #DEEBF8;
  border: 0.79px solid #4D5B9E;
  border-radius: 7.94px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #293264;
}

.choice-btn.selected {
  background-color: #D6DBF5;
  color: #293264;
}

.choice-btn.correct {
  background-color: #94D7A2;
  border-color: #94D7A2;
}

.choice-btn.incorrect {
  background-color: #F8BCBC;
  border-color: #F8BCBC;
}

.choice-btn.faded {
  opacity: 0.5;
}

div.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

div.footer-container button {
  padding: 0.8em 2em;
}

div.score-box {
  display: flex;
  gap: 1em;
}

div.score-box > span {
  color: #DEEBF8;
  font-size: 1.1rem;
}